.breadcrumbs {
    margin: 30px 0 0 0;
}

.breadcrumbs p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #7F7474;
}
.breadcrumbs p a {
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #7F7474;
}
.breadcrumbs p a:hover {
    
    color: #000000;
}
.product-header-h1 {
    margin: 30px 0 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}
.product-banner__banner {
    margin: 50px 0 0 0;
    width: 100%;
    height: 300px;
    background-color: #C4C4C4;
}
.product-item-block {
    margin: 60px 0 0 0;
}
.product-header-h2 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.product-elements {
    max-width: 1310px;
    flex-wrap: wrap;
    margin: 40px 0 60px 0;
    display: flex;
    justify-content: space-between;
}

.product__product-item {
    margin: 30px 0 0 0;
    padding: 40px 40px;
    max-width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 34px;
    background-color: #f5f5f58c;
}

.product-header-h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
}
.product-item__slider {
    margin: 50px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product__product__text {
    margin: 20px 0 0 0;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 151.19%;
    color: #000000;
}
.product__product__price {
    margin: 20px 0 0 0;
}
.product__product__price p{
    font-weight: 300;
    font-size: 16px;
    line-height: 151.19%;
    color: #000000;
}
.product__product__price p span{

    font-weight: 500;
    font-size: 24px;
    line-height: 151.19%;
    color: #000000;
}
.product__product-btn {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.learn-more {
    display: block;
    padding: 14px 0 0 36px;
    width: 153px;
    height: 50px;
    left: 364px;
    top: 1086px;
    border: 2px solid rgba(78, 132, 196);
    box-sizing: border-box;
    border-radius: 34px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 151.19%;
    color: #000000;
    transition: all 0.3s ease 0s;
}
.learn-more:hover {
    background-color: rgba(78, 132, 196);
    color: white;
}

.product-order {
    display: block;
    padding: 15px 0 0 47px;
    width: 154px;
    height: 50px;
    left: 530px;
    top: 1086px;
    background: rgba(78, 132, 196);
    border-radius: 34px;

    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 151.19%;
    color: #FFFFFF;
}

.coatings {
    padding: 50px 0 50px 0;
    background-color: rgba(218, 218, 218, 0.17);;
}

.coating-elements {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.coating-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
}
.coating-item img {
    border-radius: 50%;
}
.coating-elements p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: black;
}


.coating-item__title {
    padding: 30px 0 0 0;
}
.coating-item__title span{
    font-weight: 700;

}
.coating-item__descr {
    padding: 10px 0 0 0;
}

.postavka {
    padding: 60px 0 60px 0;
}
.postavka-elements {
    margin: 40px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.razbor {
    position: relative;
    max-width: 490px;
    margin: 20px;
    padding: 40px 40px 30px 40px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 18px;
}
.action-30 {
    position: absolute;
    width: 100px;
}
.sbor {
    max-width: 490px;
    margin: 20px;
    padding: 40px 40px 30px 40px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 18px;
}
.razbor-img {
    margin: 40px 0 0 0;
    max-width: 100%;
}
.sbor img {
    margin: 40px 0 0 0;
    max-width: 100%;
}
.garantiya {
    padding: 40px 0;
    background-color: #f5f5f58c;
}
.garantiya-content {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.garantiya-content img {
    padding-right: 20px;
    max-width: 300px;
}
.garantiya-content p {
    max-width: 715px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 151.19%;
    color: #000000;
}

@media (max-width: 1440px) {
    .product__product-item {
        max-width: 340px;
        padding: 30px 20px;
    }
    .learn-more {
        padding: 14px 0 0 32px;
        width: 142px;
    }
    .product-order {
        
        padding: 15px 0 0 40px;
        width: 142px;
    }
    .razbor {
        
        padding: 30px 30px 30px 30px;
    }
    .sbor {
        
        padding: 30px 30px 30px 30px;
    }
}

@media (max-width: 1124px){
    .product-elements {
        max-width: 833px;
        flex-wrap: wrap;
        margin: 50px auto 60px;
    }
    .product__product-item {
        padding: 40px 40px;
        max-width: 400px;
    
    }
    .learn-more {
        padding: 14px 0 0 36px;
        width: 153px;
    }
    .product-order {
        padding: 15px 0 0 47px;
        width: 154px;
    }

}

@media (max-width: 1024px) {
    .product-header-h1 {
        margin: 20px 0 0 0;
    }
    .product-banner__banner {
        margin: 40px 0 0 0;
    }
    .razbor {
        max-width: 427px;
    }
    .sbor {
        max-width: 427px;
    }
}
@media (max-width: 994px) {
    .razbor {
        max-width: 340px;
        margin: 20px 10px;
    }
    .sbor {
        max-width: 340px;
        margin: 20px 10px;
    }
}
@media (max-width: 884px) {
    .product__product-item {
        max-width: 340px;
        padding: 30px 20px;
    }
    .learn-more {
        padding: 14px 0 0 32px;
        width: 142px;
    }
    .product-order {
        
        padding: 15px 0 0 40px;
        width: 142px;
    }
    .product-elements {
        max-width: 715px;
    }

}

@media (max-width: 768px) {
    .product-elements {
        max-width: 634px;
    }
    .product__product-item {
        max-width: 300px;
        padding: 30px 20px;
    }
    .product-header-h3 {
        font-size: 16px;
    }
    .image {
        width: 200px;
    }
    .image img{
        width: 100%;
    }
    .product__product__text {
        margin: 20px 0 0 0;
        font-size: 14px;
    }
    .learn-more {
        padding: 14px 0 0 27px;
        width: 124px;
        font-size: 13px;
    }
    .product-order {
        padding: 16px 0 0 34px;
        width: 124px;
        font-size: 13px;
    }
    .action-30 {
        position: absolute;
        width: 63px;
    }
    @media (max-width: 994px) {
        .razbor {
            max-width: 276px;
            margin: 10px 10px;
        }
        .sbor {
            max-width: 276px;
            margin: 10px 10px;
        }
    }
}

@media (max-width: 678px) {

    .product-elements {
        max-width: 320px;
        justify-content: center;
        margin: 40px auto 60px;
    }
    .garantiya-content {
        flex-direction: column;
    }
}

@media (max-width: 425px) {
    .product-header-h1 {
        margin: 15px 0 0 0;
        font-size: 32px;
    }
    .product-banner__banner {
        margin: 30px 0 0 0;
        height: 250px;
    }

}
@media (max-width: 339px) {
    .learn-more {
        padding: 14px 0 0 26px;
        width: 118px;
    }
    .product-order {
        padding: 16px 0 0 31px;
        width: 118px;
    }

}