@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

:root {
    --header-bg-color: #000000;
    --header-link-color: white;
    --header-link-hover-color: #9191C6;
    --colors-bg-color: rgba(218, 218, 218, 0.46);
    --h2--main--color: #000000;
    --h3--main--color: #000000;
    --p--colors-descr: #000000;
    --li--product--color: #000000;

    --white--btn--bg: white;
    --white--btn--color: #000000;
    --white--btn--border: #000000;
    --white--btn--hover: #c9243f;
    --white--btn--hover-color: white;
    
}

.header {
    background-color: var(--header-bg-color);
    width: 100%;
    color: white;
    padding: 12px 0;
}

.container {
    padding: 0 30px;
    max-width: 1310px;
    margin: 0 auto;
}

.header-logo {
    width: 100px;
}
.logo {
    transition-duration: 0.3s;
}
.logo:hover {
    filter: invert(15%) sepia(79%) saturate(1258%) hue-rotate(220deg) brightness(101%) contrast(93%);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu__list {
    display: flex;
    list-style-type: none;
}

.header-menu__item {
    padding: 0 30px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.header-menu__link {
    color: var(--header-link-color);
    transition-duration: 0.3s;
}
.header-menu__link:hover {
    /* color: var(--header-link-hover-color); */
    filter: invert(15%) sepia(79%) saturate(1258%) hue-rotate(220deg) brightness(101%) contrast(93%);
}

.link {
    text-decoration: none;
}

.info {
    display: flex;
    align-items: center;
}

.header-burger {
    display: none;
}


/* Баннер */

.banner-content{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 60px 0;
    
}

.banner-main {
    max-width: 925px;
    font-size: 0px;
    margin: 0 27px 0 0;
}
.banner-main img{
    width: 100%;
}

.banner-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner-small {
    max-width: 298px;
    font-size: 0px;
}
.banner-small img{
    width: 100%;
}

/* Цвета */

.colors {
    background-color: var(--colors-bg-color);
    width: 100%;
    padding: 40px 40px 40px 40px;
}

.h2-main {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--h2--main--color);
}
.slider-colors {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colors-content {
    padding: 40px 0 20px 0 ;
    display: flex;
    justify-content: space-between;
    flex-basis: 90%;
}

.color-item {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    max-width: 145px;
}
.color-item img {
    width: 100%;
    border-radius: 50%;
}
.color-item__descr {
    padding: 15px 0 0 0;
    text-align: center;
    color: var(--p--colors-descr);
}

/* Продукты */

.products {
    padding: 80px 0 30px 0;
}
.products-content {
    padding: 30px 0 60px 0;
}

.product-item {
    display: flex;
    border: 1px solid #ededed;
    border-radius: 34px;
    
    padding: 30px 30px;
    max-width: 1187px;
    margin: 50px auto 0;
    transition-duration: 0.3s;
}

.product-item:hover {
    cursor: pointer;
    border: 1px solid #a5a1a1;
   
}
.product-img {
    padding: 0 45px 0 0;
}
.h3-main {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: var( --h3--main--color);

}
.product-list {
    padding: 40px 0 0 17px;
}
.product-list ul {
    list-style-type: circle;
}
.product-list__item {
    padding: 0 0 20px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--li--product--color);
}
.product-descr {
    padding: 10px 0 0 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
}

.product-price {
    display: flex;
    padding: 40px 0 0 0;
    align-items: center;
}
.price {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--li--product--color);
    margin: 0 30px 0 0 ;
}
.price span {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: var(--li--product--color);
}
.white-btn {
    background: var(--white--btn--bg);
    border: 1px solid #000000;
    border-radius: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--white--btn--color);
    text-decoration: none;
    padding: 20px 60px;
    transition-duration: 0.3s;
}
.white-btn:hover {
    background-color: var(--white--btn--hover);
    color: var(--white--btn--hover-color);
    border: 1px solid var(--white--btn--hover);
}

/* Оформить заказ */

.order {
    padding: 80px 0 100px 0;
    background-color: var(--colors-bg-color);
}


@media (max-width: 1440px) {
    .container {
        max-width: 1140px;
    }
    .header-menu__item {
        padding: 0 20px 0 0;
        font-size: 14px;
    }
}


@media (max-width: 1280px) {
    .info ul {
        display: none;
    }
}


@media (max-width: 1024px) {
    .header-menu {
        display: none;
    }
    .header-burger {
        display: block;
    }
}

@media (max-width: 767px) {
    .banner-content{
        flex-direction: column;
        
    }
    .banner-main {
        margin: 0 0 30px 0;
    }
    .banner-group {
        flex-direction: row;
        justify-content: space-between;
    }
    .banner-small {
        max-width: 217px;
        font-size: 0px;
    }
}

/* Форма */

.form-content {
    margin: 80px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.form-block {
    background-color: white;
    width: 600px;
    height: 752px;
    border-radius: 34px;
    padding: 54px 55px 80px 55px;
}
.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.form-main {
    padding: 45px 0 0 0;
}
.form-elem {
    margin: 0 0 30px 0;
}
.form-elem label {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.form-elem select {
    margin: 10px 0 0 0;
    border-radius: 34px;
    height: 60px;
    width: 100%;
    border: 1px solid black;
}
.form-elem input {
    margin: 10px 0 0 0;
    border-radius: 34px;
    height: 60px;
    width: 100%;
    border: 1px solid black;
}
.form-two-elem {
    display: flex;
    justify-content: space-between;
}
.form-two-elem .form-elem{
    flex-basis: 45%;
}
.form-main button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 25px 0 0 0;
    width: 268px;
    height: 59px;
    border-radius: 34px;
    background-color: #c9243f;
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    outline: none;
    border: none;
    cursor: pointer;
}



/* Футер */


footer {
    padding: 80px 0 80px 0;
}
.footer-content {
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    max-width: 300px;
    margin: 0 30px 0 0;
}
.logo {
    width: 140px;
}
.logo img {
    width: 100%;
}
.footer-logo p {
    padding: 20px 0 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
.footer-title {
    padding: 0 0 20px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.footer-production  {
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 0;
}
.footer-about {
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 0;
}
.footer-contacts  {
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 0;
}
.footer-time {
    padding: 20px 0 20px 0;
}
.footer-link {
    margin: 0 0 10px 0;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.footer-link:hover {
    color: #212b7e;
}

.btn-link {
    padding: 15px 0 0 23px;
    display: inline-block;
    text-decoration: none;
    width: 156px;
    height: 50px;
    background-color: #c9243f;
    border-radius: 34px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}