@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

:root {
    --header-bg-color: #000000;
    --header-link-color: white;
    --header-link-hover-color: #9191C6;
    --colors-bg-color: rgba(218, 218, 218, 0.46);
    --h2--main--color: #000000;
    --h3--main--color: #000000;
    --p--colors-descr: #000000;
    --li--product--color: #000000;

    --white--btn--bg: white;
    --white--btn--color: #000000;
    --white--btn--border: #000000;
    --white--btn--hover: rgb(78, 132, 196);
    --white--btn--hover-color: white;
    
}

.header {
    background-color: var(--header-bg-color);
    width: 100%;
    color: white;
    padding: 12px 0;
}

.container {
    padding: 0 30px;
    max-width: 1310px;
    margin: 0 auto;
}

.header-logo {
    width: 144px;
}

.header-logo__logo {
    width: 100%;
}

.logo:hover {
    filter: invert(15%) sepia(79%) saturate(1258%) hue-rotate(220deg) brightness(101%) contrast(93%);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu__list {
    display: flex;
    list-style-type: none;
}

.header-menu__item {
    padding: 0 30px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.header-menu__link {
    color: var(--header-link-color);
    transition-duration: 0.3s;
}
.header-menu__link:hover {
    /* color: var(--header-link-hover-color); */
    filter: invert(15%) sepia(79%) saturate(1258%) hue-rotate(220deg) brightness(101%) contrast(93%);
}

.link {
    text-decoration: none;
}

.header-menu__phone-link {
    color: white;
    font-size: 16px;
}

.info {
    display: flex;
    align-items: center;
}

.header-burger {
    display: none;
}


/* Баннер */

.banner-content{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 60px 0;
    
}

.banner-main {
    max-width: 925px;
    font-size: 0px;
    margin: 0 27px 0 0;
    border-radius: 34px;
}
.banner-main img{
    width: 100%;
    border-radius: 34px;
}
.banner-main__link {
    display: block;
    height: 100%;
}
.banner-main__link:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
border-radius: 34px;
}

.banner-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner-small {
    max-width: 298px;
    font-size: 0px;
    border-radius: 34px;
}
.banner-small img{
    width: 100%;
    border-radius: 18px;
}

/* Цвета */
.h2-main {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--h2--main--color);
}

.colors {
    background-color: var(--colors-bg-color);
    width: 100%;
    padding: 40px 40px 40px 40px;
}


.slider-colors {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.colors-container {
    width: 1100px;
    overflow: hidden;
}
.colors-content {
    display: flex;
    justify-content: space-between;
}

.color-item {
    width: 145px;
    margin: 0 15px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    max-width: 145px;
}
.color-item img {
    width: 100%;
    border-radius: 50%;
}
.color-item__descr {
    padding: 15px 0 0 0;
    font-size: 15px;
    text-align: center;
    color: var(--p--colors-descr);
}

/* Продукты */
.product-header {
    display: block;
}
.product-header-768 {
    display: none;

}
.products {
    padding: 80px 0 20px 0;
    
}
.products-content {
    padding: 10px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.product-item {
    background-color: #f5f5f58c;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 34px;
    padding: 30px 30px;
    margin: 50px auto 0;
    transition-duration: 0.3s;
}

.product-item:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
   
}
.product-img {
    padding: 0 45px 0 0;
}
.main-img {
    width: 539px;
}
.main-img img {
    width: 100%;
    border-radius: 34px;
}

.h3-main {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: var( --h3--main--color);

}
.product-list {
    padding: 40px 0 0 17px;
    max-width: 566px;
}
.product-list ul {
    list-style-type: circle;
}
.product-list__item {
    padding: 0 0 20px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: var(--li--product--color);
}
.product-descr {
    padding: 10px 0 0 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    max-width: 566px;
}

.product-price {
    display: flex;
    padding: 20px 0 0 0;
    align-items: center;
    justify-content: space-between;
}
.price {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--li--product--color);
    margin: 0 30px 0 0 ;
}
.price span {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: var(--li--product--color);
}
.white-btn {
    border: 2px solid rgb(78, 132, 196);
    border-radius: 50px;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px 50px;
    transition-duration: 0.3s;
}
.white-btn:hover {
    background-color: var(--white--btn--hover);
    color: var(--white--btn--hover-color);
}

/* Оформить заказ */

.order {
    padding: 50px 0 80px 0;
    background-color: var(--colors-bg-color);
}







/* Форма */

.form-content {
    margin: 40px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.form-block {
    margin: 30px 0 0 0;
    background-color: white;
    width: 545px;
    border-radius: 34px;
    padding: 54px 55px 55px 55px;
    transition-duration: 0.3s;
}
.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.form-main {
    padding: 45px 0 0 0;
}
.form-block:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 34px;
    cursor: pointer;
}
.form-elem {
    margin: 0 0 20px 0;
}
.form-elem label {
    display: block;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #000000;
}
.form-elem select {
    margin: 10px 0 0 0;
    border-radius: 34px;
    height: 45px;
    width: 100%;
    border: 1px solid black;
}
.form-elem input {
    margin: 10px 0 0 0;
    border-radius: 34px;
    height: 45px;
    width: 100%;
    border: 1px solid black;
}
.form-two-elem {
    display: flex;
    justify-content: space-between;
}
.form-two-elem .form-elem{
    flex-basis: 48%;
}
.form-main button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 25px 0 0 0;
    padding: 20px 60px;
    border-radius: 34px;
    background-color: #c9243f;
    color: white;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}


/* Футер */


footer {
    background-color: #f5f5f58c;
    padding: 80px 0 80px 0;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-logo {
    max-width: 300px;
    margin: 0 30px 0 0;
}
.footer-logo__logo {
    width: 140px;
    transition-duration: 0.3s;
}
.footer-logo__logo img {
    width: 100%;
}
.footer-logo p {
    padding: 20px 0 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
.footer-title {
    padding: 0 0 20px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.footer-production  {
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 0;
}
.footer-about {
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 0;
}
.footer-contacts  {
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 0;
}
.footer-time {
    padding: 20px 0 20px 0;
}
.footer-link {
    margin: 0 0 10px 0;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.footer-link:hover {
    color: #212b7e;
}

.btn-link {
    padding: 20px 40px;
    display: inline-block;
    text-decoration: none;

    background-color: #c9243f;
    border-radius: 34px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
}


.left-menu {
    padding: 40px;
    display: block;
    right: -320px;
    position: fixed;
    top: 0;
    overflow: auto;
    background: #ffffff;
    width: 320px;
    height: 100%;
    z-index: 1000;
    transition: 0.5s;
}
.left-menu__active {
    right: 0;
    
}
.burger-logo{
    width: 144px;
}
.header-burger {
    position: relative;
    z-index: 10001;
    transition: all 0.3s ease 0s;
}
.header-burger.active {
    transform: rotate(90deg);
}
.header-burger-space {
    display: none;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.6);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}
.active-space {
    display: block;
}

.header-menu-burger {
    padding: 50px 0 0 0;
}
.header-menu-burger__list {
    padding: 15px 0 0 0;
}

.header-menu-burger__link {
    text-decoration: none;
}
.burger-line {
    margin: 15px 0 0 0;
    height: 1px;
    width: 100%;
    background-color: rgb(78, 132, 196);
}

.burger-phone {
    padding: 40px 0 0 0;
}
.burger-phone a {
    display: block;
}

.overflow-h{
    overflow: hidden;
}




@media (max-width: 1440px) {
    .container {
        max-width: 1140px;
    }
    .header-menu__item {
        padding: 0 20px 0 0;
        font-size: 14px;
    }
    .price span {
        font-size: 31px;
    }
    .product-price {
        padding: 25px 0 0 0;
    }
    .main-img {
        width: 528px;
    }
}


@media (max-width: 1280px) {
    .info ul {
        display: none;
    }
}

@media (max-width: 1124px) {
    .product-img {
        padding: 0 30px 0 0;
    }
    .price span {
        font-size: 24px;
    }
    .main-img {
        width: 485px;
    }
    .header-menu {
        display: none;
    }
    .header-burger {
        display: block;
    }

}



@media (max-width: 1023px){
    .product-item {
        flex-direction: column;
        align-items: center;
    }
    .product-img {
        padding: 0 0px 0 0;
    }
    .product-header {
        display: none;
    }
    .product-header-768 {
        display: block;
        padding: 0 0 28px 0;
    }
    .product-item {
        padding: 30px 30px;
    }
    .main-img {
        width: 362px;
    }
    .product-list {
        padding: 25px 0 0 17px;
    }
    .product-list__item {
        padding: 0 0 15px 0;
    }
    .white-btn {
        padding: 15px 40px;
    }
    .product-price {
        flex-direction: column;
        padding: 15px 0 0 0;
    
    }
    .main-img {
        width: 539px;
    }
    .product-price {
        flex-direction: row;
        justify-content: space-between;
    }
    .product-list {
        padding: 40px 0 0 17px;
    }
    .product-list__item {
        padding: 0 0 20px 0;
    }
    .product-price {
        padding: 40px 0 0 0;
    }
    .price span {
        font-size: 36px;
    }
    .white-btn {
        padding: 20px 60px;
    }
    .product-item {
        margin: 30px auto 0;
    }
    

}
@media (max-width: 991px){
  .footer-logo {
      order: 4;
  }
}
@media (max-width: 768px){
    .banner-content{
        flex-direction: column;
        
    }
    .banner-main {
        margin: 0 0 30px 0;
    }
    .banner-group {
        flex-direction: row;
        justify-content: space-between;
    }
    .banner-small {
        max-width: 217px;
        font-size: 0px;
    }
    .colors-container {
        width: 477px;
    }
}



@media (max-width: 750px) {

    .banner-main {
        margin: 0 0 0px 0;
    }
    .banner-group {
        display: none;
    }
    .main-img {
        width: 310px;
    }
    .product-list {
        max-width: 310px;
    }
    .product-price {
        flex-direction: column;
        padding: 10px 0 0 0;
    }
    .price span {
        font-size: 27px;
        margin: 0 0 0 0;
    }
    .price {
        margin: 0 0px 27px 0px;
    }
    .product-descr {
        max-width: 310px;
        font-size: 14px;
    }
}
@media (max-width: 661px) {
    .footer-btn {
        order: 4;
        margin: 30px 19px 0 0;
    }
    .footer-logo {
        order: 3;
        flex-basis: 100%;
    }
    .footer-contacts {
        margin: 0 30px 0 0;
    }
}

@media (max-width: 660px) {

    .white-btn {
        padding: 15px 40px;
    }
    .form-two-elem {
        flex-direction: column;
    }

}

@media (max-width: 564px) {
    .footer-btn {
        order: 3;
        margin: 0 20px 0 0;
    }
    .footer-logo {
        margin: 40px 30px 0 0;
        order: 4;
    }
}



@media (max-width: 505px) {
    .header-menu__phone-link {
        font-size: 14px;
    }
    .header-logo {
        width: 110px;
    }
    .banner-content {
        padding: 30px 0 60px 0;
    }
    .footer-content {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .footer-logo {
        order: 4;
        margin: 40px 0px 0 0;
    }
    .footer-logo__logo {
        margin: 0 auto;
    }
    .footer-btn {
        margin: 30px 0 0 0;
    }
    .footer-about {
        margin: 30px 0px 0 0;
    }
    .footer-contacts {
        margin: 30px 0px 0 0;
    }
    .footer-production {
        margin: 0 0px 0 0;
    }
    .btn-link {
        padding: 15px 0 0 0px;
    }
    footer {
        padding: 50px 0 50px 0;
    }
}





@media (max-width: 424px) {
    .product-item {
        padding: 15px 15px;
    }

    .main-img {
        width: 256px;
    }
    .product-descr {
        max-width: 526px;
    }
    .product-list {
        max-width: 256px;
    }
    .product-price {
        flex-direction: column;
        padding: 10px 0 0 0;
    }
    .price span {
        font-size: 27px;
        margin: 0 0 0 0;
    }
    .price {
        margin: 0 0px 27px 0px;
    }
    .form-block {
        padding: 30px;
    }

}
@media (max-width: 375px) {

    .container {
        padding: 0 15px;
    }
    .header-logo {
        width: 100px;
    }

}

@media (max-width: 320px) {

}