@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

:root {
    --header-bg-color: #000000;
    --header-link-color: white;
    --header-link-hover-color: #9191C6;
}

.header {
    background-color: var(--header-bg-color);
    width: 100%;
    color: white;
    padding: 12px 0;
}

.container {
    padding: 0 30px;
    max-width: 1310px;
    margin: 0 auto;
}

.header-logo {
    width: 100px;
}
.logo {
    transition-duration: 0.3s;
}
.logo:hover {
    filter: invert(15%) sepia(79%) saturate(1258%) hue-rotate(220deg) brightness(101%) contrast(93%);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu__list {
    display: flex;
    list-style-type: none;
}

.header-menu__item {
    padding: 0 30px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.header-menu__link {
    color: var(--header-link-color);
    transition-duration: 0.3s;
}
.header-menu__link:hover {
    /* color: var(--header-link-hover-color); */
    filter: invert(15%) sepia(79%) saturate(1258%) hue-rotate(220deg) brightness(101%) contrast(93%);
}

.link {
    text-decoration: none;
}

.info {
    display: flex;
    align-items: center;
}

.header-burger {
    display: none;
}


/* Баннер */

.banner-content{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 50px 0;
    
}

.banner-main {
    max-width: 925px;
    font-size: 0px;
    margin: 0 27px 0 0;
}
.banner-main img{
    width: 100%;
}

.banner-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner-small {
    max-width: 298px;
}
.banner-small img{
    width: 100%;
}


@media (max-width: 1440px) {
    .container {
        max-width: 1140px;
    }
    .header-menu__item {
        padding: 0 20px 0 0;
        font-size: 14px;
    }
}


@media (max-width: 1280px) {
    .info ul {
        display: none;
    }
}


@media (max-width: 1024px) {
    .header-menu {
        display: none;
    }
    .header-burger {
        display: block;
    }
}


